*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: 'Roboto', sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(header.jpg);
    background-size: cover;
}



.container{
    max-width: 1170px;
    margin: 0 auto;

}


.header-nav{
    display: flex;
    justify-content: space-between; 
    padding-top: 43px;
}

.menu{
    display: flex;
    list-style-type: none;
}
a{
    text-decoration: none;
}

.header a{
    font-size: 23px;
    color: #FFFFFF;
}

.menu li{
margin-left: 34px;
}

.button{
    display:block;
    width: 351px;
    height: 45px;
    background: #9F0F0F;
    text-align: center;
    /* vertical-align: middle; */
    line-height: 45px   ;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.35);
    margin:450px auto ;

}

.section{
    width: auto;
    height: 1420px;
    display: flex;  
    justify-content: center;  
    padding-top:120px;

}

.images{
width: 300px;
height: 426px;
position: relative;
top: 79px;
}

.image3{
    width: 390px;
    height: 585px;
    margin: 0 85px 0 85px;
}

.text{
    position: absolute;
    top: 1420px;

}
.text p{
    text-align: center;
    font-size: 24px;
}
.footer{
    width: 100%;
    height: auto;
    background-color: #9F0F0F;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    padding: 43px 0;
}
.footer-nav a{
    color: #FFFFFF;
    font-size: 23px;
}
